<div>
  <img class="landing-logo" src="./assets/img/car.png" />
  <mat-card class="landing-card mat-elevation-z6">
    <mat-card-content>
      <div class="landing-cta">
        <h1 i18n="@@welcomeHeader">Welcome to Car Booking</h1>
        <h3 i18n="@@weclomeCTA" >Book your favorite car and lets go!</h3>
        <p i18n="@@welcomeDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dui in tortor volutpat blandit nec eu est.
           Phasellus convallis lectus ac molestie venenatis
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dui in tortor volutpat blandit nec eu est.
           Phasellus convallis lectus ac molestie venenatis.</p>
           <button mat-raised-button color="primary"  routerLink="/cars">BOOK A CAR</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="landing-messages-container">
  <mat-card class="landing-message-card mat-elevation-z6">
    <mat-card-content>
      <h2 i18n="@@landing-message-header-left">
        Rides on tap
      </h2>
      <div i18n="@@landing-message-content-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dui in tortor
        volutpat blandit nec eu est. Phasellus convallis lectus ac molestie venenatis.
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="landing-message-card mat-elevation-z6">
    <mat-card-content>
      <h2 i18n="@@landing-message-header-middle">
        Fair Prices
      </h2>
      <div i18n="@@landing-message-content-middle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dui in tortor
        volutpat blandit nec eu est. Phasellus convallis lectus ac molestie venenatis.
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="landing-message-card mat-elevation-z6">
    <mat-card-content>
      <h2 i18n="@@landing-message-header-right">
        Safety first
      </h2>
      <div i18n="@@landing-message-content-right">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dui in tortor
        volutpat blandit nec eu est. Phasellus convallis lectus ac molestie venenatis.
      </div>
    </mat-card-content>
  </mat-card>
</div>
