<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <span i18n="@@app-name" class="app-name">Car Booking</span>
  </mat-toolbar>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <div class="content">
    <router-outlet (activate)=onActivateRoute($event)></router-outlet>
  </div>
  <div class ="app-bottom-spacer"  [ngClass]="{'homepage-decor': isHomePage()}"></div>
</body>

</html>
