<mat-toolbar class="mat-elevation-z6" color="primary">
  <span i18n="@@app-name" class="app-name">Car Booking</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a i18n="@@homeRoute" mat-tab-link routerLink="/home" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
    Home
  </a>
  <a i18n="@@carsRoute" mat-tab-link routerLink="/cars" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
    Available Cars
  </a>
  <a i18n="@@bookingsRoute" mat-tab-link routerLink="/bookings" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
    My Bookings
  </a>
</nav>

<div class="content">
  <router-outlet (activate)=onActivateRoute($event)></router-outlet>
</div>
<div class="app-bottom-spacer" [ngClass]="{'homepage-decor': isHomePage()}"></div>
